<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.mapper.EquipmentMapper">
    
    <resultMap type="Equipment" id="EquipmentResult">
        <result property="monitorId"    column="monitor_id"    />
        <result property="monitorModel"    column="monitor_model"    />
        <result property="monitorRtspAddress"    column="monitor_rtsp_address"    />
        <result property="monitorType"    column="monitor_type"    />
    </resultMap>

    <sql id="selectEquipmentVo">
        select monitor_id, monitor_model, monitor_rtsp_address, monitor_type from equipment
    </sql>

    <select id="selectEquipmentList" parameterType="Equipment" resultMap="EquipmentResult">
        <include refid="selectEquipmentVo"/>
        <where>  
            <if test="monitorModel != null  and monitorModel != ''"> and monitor_model = #{monitorModel}</if>
            <if test="monitorRtspAddress != null  and monitorRtspAddress != ''"> and monitor_rtsp_address = #{monitorRtspAddress}</if>
            <if test="monitorType != null "> and monitor_type = #{monitorType}</if>
        </where>
    </select>
    
    <select id="selectEquipmentById" parameterType="Long" resultMap="EquipmentResult">
        <include refid="selectEquipmentVo"/>
        where monitor_id = #{monitorId}
    </select>
        
    <insert id="insertEquipment" parameterType="Equipment" useGeneratedKeys="true" keyProperty="monitorId">
        insert into equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="monitorModel != null">monitor_model,</if>
            <if test="monitorRtspAddress != null and monitorRtspAddress != ''">monitor_rtsp_address,</if>
            <if test="monitorType != null">monitor_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="monitorModel != null">#{monitorModel},</if>
            <if test="monitorRtspAddress != null and monitorRtspAddress != ''">#{monitorRtspAddress},</if>
            <if test="monitorType != null">#{monitorType},</if>
         </trim>
    </insert>

    <update id="updateEquipment" parameterType="Equipment">
        update equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="monitorModel != null">monitor_model = #{monitorModel},</if>
            <if test="monitorRtspAddress != null and monitorRtspAddress != ''">monitor_rtsp_address = #{monitorRtspAddress},</if>
            <if test="monitorType != null">monitor_type = #{monitorType},</if>
        </trim>
        where monitor_id = #{monitorId}
    </update>

    <delete id="deleteEquipmentById" parameterType="Long">
        delete from equipment where monitor_id = #{monitorId}
    </delete>

    <delete id="deleteEquipmentByIds" parameterType="String">
        delete from equipment where monitor_id in 
        <foreach item="monitorId" collection="array" open="(" separator="," close=")">
            #{monitorId}
        </foreach>
    </delete>
    
</mapper>